@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello World!</h1>
<p>Here you can calculate numbers!</p>
<div>
	Enter your first number:
	<input @bind=FirstNumber />
</div>
<div>
	Enter your second number:
	<input @bind=SecondNumber />
</div>
<Addition FirstNumber=@FirstNumber SecondNumber=@SecondNumber></Addition>
<Subtraction FirstNumber=@FirstNumber SecondNumber=@SecondNumber></Subtraction>

@code {
	public int FirstNumber { get; set; }
	public int SecondNumber { get; set; }
}